body
{
    background-color: antiquewhite;
}

 .funny {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
    position: fixed;
    top: 0;
    width: 100%;
}
.funniest {
    float: left;
}
.funnier {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color:saddlebrown;
}
